<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="SelfHostNetTcp.HelloService" behaviorConfiguration="ServiceBehavior1" >
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9101/"/>
						<add baseAddress="http://localhost:9102/"/>
					</baseAddresses>

				</host>
				<endpoint address="SelfHostNetTcp"
						  binding="netTcpBinding"
						  contract="SelfHostNetTcp.IService"></endpoint>
				<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />

			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior1">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>